#mainLayout {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

#playingField {
  position: relative;
  -webkit-flex: 1 1 auto;
  min-height: auto; }

/* _robot.scss */
.sim-robot {
  position: absolute;
  box-sizing: border-box;
  background: blue; }
  .sim-robot::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '^';
    text-align: center;
    color: #fff; }

.sim-field {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #efefef; }
