#mainLayout {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

#playingField {
  position: relative;
  -webkit-flex: 1 1 auto;
  min-height: auto; }

#controlArea {
  user-select: none;
  -webkit-user-select: none; }

#horizontalSplitter {
  height: 4px;
  background: #efefef;
  cursor: ns-resize; }

/* _robot.scss */
.sim-robot {
  position: absolute;
  box-sizing: border-box;
  background: url(../img/temp.gif) no-repeat center center;
  background-size: contain; }
  .sim-robot::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff; }

.sim-sensor-line {
  position: absolute;
  width: 1px;
  background: red; }

.sim-field {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #efefef; }
