#mainLayout {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

#playingField {
  position: relative;
  -webkit-flex: 1 1 auto;
  min-height: auto; }

#controlArea {
  user-select: none;
  -webkit-user-select: none; }

#loader {
  display: inline-block;
  width: 50px;
  height: 12px; }

#loader.loading {
  background: url(../img/loading.gif) no-repeat;
  background-size: contain; }

#horizontalSplitter {
  height: 4px;
  background: #efefef;
  cursor: ns-resize; }

#editorPane {
  display: -webkit-flex;
  -webkit-flex-flow: row; }

#codeArea {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px; }

#editorArea {
  -webkit-flex: 1 1 auto; }

#verticalSplitter {
  width: 4px;
  background: #efefef;
  cursor: ew-resize; }

#outputArea {
  user-select: none;
  -webkit-user-select: none;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  min-width: 150px; }

#outputHeader {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  min-height: 25px; }

#outputTitle {
  -webkit-flex: 1 1 auto;
  font-weight: bold;
  padding-left: 5px;
  line-height: 25px; }

#outputList {
  font-family: monospace;
  white-space: pre;
  overflow-y: scroll;
  min-height: auto;
  -webkit-flex: 1 1 auto; }

.error {
  background: rgba(255, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  left: 0; }

#envSetupArea {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  height: 100%;
  padding: 5px; }

.horizontalLayout {
  display: -webkit-flex;
  -webkit-flex-flow: row; }

#compilerOutputArea {
  user-select: none;
  -webkit-user-select: none;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  padding: 5px; }

#compilerOutput {
  font-family: monospace;
  white-space: pre;
  overflow-y: scroll;
  min-height: auto;
  -webkit-flex: 1 1 auto; }

/* _robot.scss */
.sim-robot {
  position: absolute;
  box-sizing: border-box;
  background: url(../img/temp.gif) no-repeat center center;
  background-size: contain; }
  .sim-robot::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff; }

.sim-sensor-line {
  position: absolute;
  width: 1px;
  background: red; }

.sim-robot-bounding-box {
  position: absolute;
  background: rgba(0, 128, 0, 0.25); }

.sim-field {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #efefef; }

.sim-obstacle {
  position: absolute;
  box-sizing: border-box; }
  .sim-obstacle.color-GRAY {
    background: #ababab; }
  .sim-obstacle.color-RED {
    background: red; }
  .sim-obstacle.color-GREEN {
    background: green; }
  .sim-obstacle.color-BLUE {
    background: blue; }
