#mainLayout {
	display: -webkit-flex;
	-webkit-flex-flow: column;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#playingField {
	position: relative;
	-webkit-flex: 1 1 auto;
	min-height: auto;
}

#controlArea {
	user-select: none;
	-webkit-user-select: none;
}

#horizontalSplitter {
	height: 4px;
	background: #efefef;
	cursor: ns-resize;
}

#editorPane {
	
}