/* _robot.scss */
.sim-robot {
	position: absolute;
	box-sizing: border-box;

	background: url(../img/temp.gif) no-repeat center center;
	background-size: contain;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		//content: '^';
		text-align: center;
		color: #fff;
	}
}

//Experiment!
.sim-sensor-line {
	position: absolute;
	width: 1px;
	background: red;

}

//Experiment!
.sim-robot-bounding-box {
	position: absolute;
	background: rgba(0, 128, 0, 0.25);
}